.header {
    background-color: #000050;
    color: white;
}

.navBar {
    background-color: #050065;
}

.navButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }