/* App.css */

* {
  margin: 0;
  padding: 0;
}

html{
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  background-color: #cb8d8c;
}

.page-wrapper {
  height: 100vh;
}



.header {
  height: 8%;
}

.masthead {
  background-color: #000050;
  color: white;
  height: 50%;
  text-align: center;
}

.nav-bar {
  height: 50%;
  background-color: #050065;
}

.nav-left {
  height: 100%;
  width: 75%;
  float: left;
  color: white;
}

.nav-right {
  height: 100%;
  width: 25%;
  float: right;
  text-align: right;
  color: white;
}

.nav-button {
  background-color: transparent;
  height: 100%;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}





.button {
  background-color: aqua;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.label {
  width: 150px;
  display: inline-block;
}

.inputText
input[type="text"] {
  width: 100px;
}
input[type="text"]:focus {
  width: 250px;
}